# IMDB Extra Trees Regression
![ImdbIcon](../images/imdbheader.jpg)

In [31]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor, AdaBoostRegressor
from sklearn.model_selection import cross_val_score, train_test_split, GridSearchCV
from sklearn.metrics import confusion_matrix, plot_confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler

In [32]:
revenue_df = pd.read_csv('../data/revenue_df.csv')

In [33]:
revenue_df.columns

Index(['movie_title', 'year', 'tagline', 'plot', 'cast', 'duration', 'Action',
       'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Drama',
       'Family', 'Fantasy', 'History', 'Horror', 'Music', 'Musical', 'Mystery',
       'Romance', 'Sci-Fi', 'Sport', 'Thriller', 'War', 'Western', 'avg_vote',
       'total_votes', 'us_voters_votes', 'votes', 'votes_1', 'votes_2',
       'votes_3', 'votes_4', 'votes_5', 'votes_6', 'votes_7', 'votes_8',
       'votes_9', 'votes_10', 'popularity', 'director_score', 'actor_score',
       'actress_score', 'tagline_sentiment', 'plot_sentiment', 'total_score',
       'profitable', 'budget', 'revenue', 'budget_adj', 'revenue_adj'],
      dtype='object')

## Extra Trees Regression

In [34]:
features = ['duration', 'Adventure',  'Biography', 'Crime', 'Drama', 'Fantasy',  'Horror', 'Sci-Fi', 'Thriller', 'avg_vote', 
            'us_voters_votes', 'votes', 'votes_1', 'votes_3', 'votes_7', 'votes_8', 'votes_9',  'popularity', 
            'director_score', 'actor_score', 'plot_sentiment', 'total_score', 'profitable', 'budget']

In [35]:
X = revenue_df[features]
y = revenue_df['revenue']

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, test_size = 0.33)

In [37]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [38]:
et = ExtraTreesRegressor()

In [39]:
et.fit(X_train, y_train)

ExtraTreesRegressor()

In [40]:
print("Training Score:", et.score(X_train, y_train))
print("Testing Score:", et.score(X_test, y_test))

Training Score: 1.0
Testing Score: 0.686513698132913

In [41]:
print("Cross Val Score:", cross_val_score(et, X_train, y_train, cv = 5).mean())

Cross Val Score: 0.6702587827072964

In [42]:
model_params = {}
count = 0

In [59]:
et_params = {
    'max_depth': [14, 15, 16, 17],
    'min_samples_leaf': [1, 2, 3, 4],
    'min_samples_split': [10, 11, 12],
    'n_estimators': [25, 50, 75, 100],
}

gs = GridSearchCV(et, param_grid=et_params, cv = 5, n_jobs = 12)

gs.fit(X_train, y_train)

count += 1

gs.best_params_['best_score'] = gs.best_score_

gs.best_params_['training_score'] = gs.score(X_train, y_train)

gs.best_params_['testing_score'] = gs.score(X_test, y_test)

model_params[f'model_{count}'] = gs.best_params_

model_df = pd.DataFrame.from_dict(model_params, orient='index')

model_df

,max_depth,min_samples_leaf,min_samples_split,n_estimators,best_score,training_score,testing_score
model_1,2,2,2,300,0.566263,0.603033,0.575336
model_2,4,2,2,200,0.658521,0.775352,0.644449
model_3,6,2,2,200,0.675295,0.855762,0.679719
model_4,8,2,2,100,0.676458,0.906458,0.688464
model_5,9,1,2,300,0.677726,0.959611,0.697252
model_6,10,1,4,100,0.682092,0.965676,0.683474
model_7,11,1,2,100,0.683001,0.983536,0.691340
model_8,12,2,2,200,0.678435,0.946561,0.690018
model_9,14,1,2,100,0.677513,0.997829,0.689469
model_10,14,1,2,100,0.676681,0.997715,0.692165
model_11,13,1,4,300,0.679951,0.986890,0.692121
model_12,13,1,6,100,0.680669,0.969421,0.682482
model_13,14,2,6,100,0.681085,0.926861,0.687039
model_14,15,1,6,100,0.682062,0.974998,0.696216
model_15,15,1,8,100,0.685420,0.960876,0.692965
model_16,15,1,10,50,0.692437,0.945221,0.692143
model_17,14,1,12,50,0.685422,0.927699,0.681998